body {
    --button-border-radius: 4px;
    --tooltip-border-radius: 4px;
    --header-background-color: #4a76a8;
    --header-background-color--hover: #3d6898;
    --header-background-color--active: #335e8f;
    --button-background-color--active: #dae2ea;
    --button-background-color--light: #e5ebf1;
    --link-color-2: #2a5885;
    --search-color: #224b7a;
    --accent-color: #5181b8;
    --accent-color--hover: #5b88bd;
    --accent-color--active: #4b77a8;
    --accent-color--rgb: 74, 118, 168;
    --accent-color-3: #5b88bd;
    --post-meta-color: #67707a;
}

/* posts */
.post_like_link, .post_share_link {
    display: none;
}
.post_like, .post_share {
    height: 26px;
    padding: 0 3px;
    display: flex;
    align-items: center;
    margin-left: 21px;
    margin-right: 0;
}
.post_like:hover, .post_share:hover {
    background: none;
}
.post_full_like_wrap .post_like:first-child, .post_full_like_wrap .post_share:first-child {
    margin-left: -3px;
}
.post_full_like a i {
    width: 24px;
    height: 24px;
    background: no-repeat 50% / contain;
    opacity: 0.7;
    margin: 0;
    transition: opacity 100ms ease-in-out;
}
.heart:not(#liked):hover, .post_share_icon:hover,
.post_like:hover .heart, .post_share:hover .post_share_icon {
    opacity: 1 !important;
}
.post_like_count, .post_share_count, .likeCnt {
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
    margin-left: 6px;
    font-weight: 500;
}
#liked ~ .post_like_count.likeCnt {
    color: #cc2939
}

.post-like-button .post_like_icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20height%3D%22100%25%22%20width%3D%22100%25%22%3E%3Ctitle%3Elike_outline_24%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M17%2C2.9A6.43%2C6.43%2C0%2C0%2C1%2C23.4%2C9.33c0%2C3.57-1.43%2C5.36-7.45%2C10l-2.78%2C2.16a1.9%2C1.9%2C0%2C0%2C1-2.33%2C0L8.05%2C19.37C2%2C14.69.6%2C12.9.6%2C9.33A6.43%2C6.43%2C0%2C0%2C1%2C7%2C2.9a6.46%2C6.46%2C0%2C0%2C1%2C5%2C2.54A6.46%2C6.46%2C0%2C0%2C1%2C17%2C2.9ZM7%2C4.7A4.63%2C4.63%2C0%2C0%2C0%2C2.4%2C9.33c0%2C2.82%2C1.15%2C4.26%2C6.76%2C8.63l2.78%2C2.16a.1.1%2C0%2C0%2C0%2C.12%2C0L14.84%2C18c5.61-4.36%2C6.76-5.8%2C6.76-8.63A4.63%2C4.63%2C0%2C0%2C0%2C17%2C4.7c-1.56%2C0-3%2C.88-4.23%2C2.73L12%2C8.5l-.74-1.07C10%2C5.58%2C8.58%2C4.7%2C7%2C4.7Z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E");
}
.post-like-button .post_like_icon#liked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20height%3D%22100%25%22%20width%3D%22100%25%22%3E%3Ctitle%3Elike_active_24%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M17%2C2.9A6.43%2C6.43%2C0%2C0%2C1%2C23.4%2C9.33c0%2C3.57-1.43%2C5.36-7.45%2C10l-2.78%2C2.16a1.9%2C1.9%2C0%2C0%2C1-2.33%2C0L8.05%2C19.37C2%2C14.69.6%2C12.9.6%2C9.33A6.43%2C6.43%2C0%2C0%2C1%2C7%2C2.9%2C5.7%2C5.7%2C0%2C0%2C1%2C12%2C6%2C5.7%2C5.7%2C0%2C0%2C1%2C17%2C2.9Z%22%20fill%3D%22%23ff3347%22%2F%3E%3C%2Fsvg%3E");
}

.post-share-button .post_share_icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12.1%2C7.87V4.4a1.32%2C1.32%2C0%2C0%2C1%2C2.17-1L23.21%2C11a1.32%2C1.32%2C0%2C0%2C1%2C.15%2C1.86l-.15.15-8.94%2C7.6a1.32%2C1.32%2C0%2C0%2C1-2.17-1V16.16c-4.68.11-8%2C1.09-9.89%2C2.87a1.15%2C1.15%2C0%2C0%2C1-1.9-1.11C1.84%2C11.56%2C5.82%2C8.16%2C12.1%2C7.87Zm1.8-2.42v4.2H13c-5.3%2C0-8.72%2C2.25-10.39%2C6.86C5.06%2C15.06%2C8.53%2C14.35%2C13%2C14.35h.9v4.2L21.61%2C12Z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E");
}

.pv_right .post_full_like_wrap {
    margin: 0;
    padding: 10px 15px;
}